@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'MuseoModerno';
  height: 100%;
  background-image: url("img/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.15);
  transition: background-image 3s ease;
}
.bg-author {
  width: 100%;
  position: absolute;
  bottom: 6px;
}
.bg-author p {
  color: #afafaf;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
#form {
  user-select: none;
  text-align: center;
  padding-top: 15px;
  border-radius: 15px;
  border-width: 1px;
  border-color: #ffffff6a;
  border-style: solid;
  width: 250px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}
h1 {
  color: #fff;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
::placeholder {
  color: #a7a7a7;
}
input {
  font-family: 'MuseoModerno';
  font-size: 16px;
  color:#cacaca;
  transition: border-color .3s ease-in-out;
  background-color: transparent;
  border-width: 1px;
  border-radius: 6px;
  border-color: #ffffff6a;
  outline: none;
  border-style: solid;
  text-decoration: none;
}
input[type=username], input[type=password] {
  letter-spacing: 0.04em;
  width: 180px;
  height: 28px;
  padding-left: 6px;
  margin-top: 16px;
}
#username:focus, #password:focus {
  border-color: #c4c4c4;
}
input[type=button] {
  margin-top: 25px;
  width: 100px;
  height: 28px;
}